body {
  background-color: black;
  color: white;
  font-family: "Segoe UI Black", "Open Sans", sans-serif;
  /* font-size: 7mm; */
}

path:hover {
  stroke: #fff !important;
  stroke-width: 6 !important;
}
#singapore-whole {
  width: 100vw;
}

#box {
  display: none;
  position: absolute;
  pointer-events: none;
  background-color: rgba(44, 44, 44, 0.8);
  border-radius: 0.5rem;
  border: 1px solid white;
  padding: 0.5rem;
}
#constituent {
  margin: 0px;
  padding-top: 0em;
  padding-right: 0.25em;
  padding-bottom: 0em;
  padding-left: 0.25em;
}
#data {
  margin: 0px;
  padding-top: 0em;
  padding-right: 0.25em;
  padding-bottom: 0em;
  padding-left: 0.25em;
}

#seats {
  margin: 0px;
  padding-top: 0em;
  padding-right: 0.25em;
  padding-bottom: 0em;
  padding-left: 0.25em;
}

p {
  font-size: 1.2rem;
}

.voteshare {
  margin-top: 0em;
  margin-right: 0.25em;
  margin-bottom: 0em;
  margin-left: 0.25em;
  width: 10rem;
}
.votesharepercent {
  font-family: "Segoe UI Semibold", sans-serif;
  margin: 0em;
  padding-left: 0.1em;
}
